/* Base */
body {
  background: #f5f5f5;
}
/* Common */
.divider {
  font-family: serif,sans-serif;
  margin: 0 6px;
  color: #ccc;
}
/* Layout */
.span1 {

}

/* Header */
.header {
  margin:20px 0;
}
.sitename {
  font: bold 32px Tahoma;
}

/* Navigation */

.default-nav >li >.dropdown-menu {
  top: 95%;
}
.navbar .default-nav >li:hover >a {
  background: #e5e5e5;
  color: #555;
}
.default-nav >li:hover >a .caret {
  border-bottom-color: #333 !important;
  border-top-color: #333 !important;
}
.default-nav li:hover >ul {
  display: block;
}
.default-nav >li >span {
  color: #777;
  padding: 10px 15px;
  display: block;
}

/* Zone */
.pi-zone-1 {

}

/* Block */
.block {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 3px #bababa;
  border: 1px solid #cecece \9;
}
.block-header {
  margin: 0 15px;
  border-bottom: 1px dashed #e5e5e5;
}
.block-body {
  padding: 15px 15px 0;
}
.block-body h4 {
  margin-top: 0;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 40px;
}
.footer-line {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.footer a {
  color: #555;
  line-height: 24px;
}
.footer a:hover {
  color: #0088CC;
};